<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create User</title>
</head>
<body>

<h2>Create User</h2>

<form th:object="${user}"
      th:action="@{/admin/users/create}"
      method="post">

    Username:

    <label>
        <input type="text"
               th:field="*{username}"
               required/>
    </label>

    <br><br>

    Password:

    <label>
        <input type="password"
               th:field="*{password}"
               required/>
    </label>

    <br><br>

    Year of Birth:

    <label>
        <input type="number"
               th:field="*{yearOfBirth}"
               required/>
    </label>

    <br><br>

    Roles:

    <label>
        <select name="roleIds" multiple required>

            <option th:each="role : ${roles}"
                    th:value="${role.id}"
                    th:text="${role.name}">
            </option>

        </select>
    </label>

    <br><br>

    <button type="submit">
        Save
    </button>

</form>

<br>

<a th:href="@{/admin/users/list}">
    Back
</a>

</body>
</html>