<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Edit User</title>
</head>
<body>

<h2>Edit User</h2>

<form th:object="${user}"
      th:action="@{/admin/users/edit/{id}(id=${user.id})}"
      method="post">

    Username:
    <label>
        <input type="text"
               th:field="*{username}"
               required/>
    </label>
    <br><br>

    Password:
    <label>
        <input type="password"
               th:field="*{password}"
               placeholder="Enter new password if you want to change"/>
    </label>
    <br><br>

    Year of Birth:
    <label>
        <input type="number"
               th:field="*{yearOfBirth}"
               required/>
    </label>
    <br><br>

    Roles:
    <label>
        <select name="roleIds" multiple required>
            <option th:each="role : ${roles}"
                    th:value="${role.id}"
                    th:text="${role.name}"
                    th:selected="${user.roles.contains(role)}">
            </option>
        </select>
    </label>
    <br><br>

    <button type="submit">
        Save
    </button>

</form>

<br>

<a th:href="@{/admin/users/list}">
    Back
</a>

</body>
</html>

